/*STYLING GERAL*/

* {
    margin: 0;
    border: 0;
}
body{
    display: flex;
    overflow: auto;
    flex-wrap: wrap;
    font-family: 'Ubuntu';
    font-style: normal;
}

/*STYLING PARA O CABEÇALHO E O RODAPÉ DE TODAS AS PÁGINAS*/

header, footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6.39vw;
    background-color: rgba(46, 148, 138, 1);
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
    height: 117px;
    width: 100vw;
}
/*Como tods as outras características foram estilizada acima, basta estilizar a altura do footer*/
footer{
    box-shadow: none;
    overflow: auto;
    flex-wrap: wrap;
    height: 207px;
    padding: 0 9.17vw;
}

/*Estilização das imagens do cabeçalho e rodapá*/
#img-header{
    width: 17vw; /*    A largura do elemento será 17% (pelo figma: 244px/1440px), 
                 relativo ao View Window Width (largura da área de visualização) */
    height: 5.5vw;   
}
#img-footer{
    width: 21.86vw;
    height: 7.1vw;
}

/*Estilização dos links do cabeçalho e rodapé*/
.header-link, .footer-link{
    display: flex;    
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: #FDFDFD;
    margin: 0 2.78vw;
}
.nav-header{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: line;
    justify-content: space-between;
}

.footer-link{
    text-transform: lowercase;
    font-weight: 400;
}
li{
    list-style-type: none;
}

/*ESTILIZAÇÃO DOS BOTÕES INTERATIVOS*/

/***********************************

    A ESTRATÉGIA E SEPARAR TUDO PAR 
FACILITAR MUDANÇAS FUTURAS.

************************************/

.botao{/*ESTILIZA APENAS O BÁSICO DO BOTÃO*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 6.5px;
    height: 51px;
    width: 289px;
    border-radius: 62px;
}
.preenchimento-transparente{
    background-color: transparent;
}
.preenchimento-azul{
    background-color:  #2E948A;
}
.preenchimento-rosa{
    background-color: #FF4081;
}
.contorno-branco{ /*DÁ A ELE UM CONTORNO BRANCO*/
    border: 2px solid #FFFFFF;
}
.contorno-azul{
    border: 2px solid #2E948A;
}
.contorno-rosa{
    border: 2px solid #FF4081;
}
.texto-branco{ /*ESTILIZA A FONTE*/
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}
.texto-rosa{
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    color: #FF4081;
}

/*ESTILIZAÇÃO DOS TEXTOS*/

/**********************************************************

DIVIDI TODOS OS TITULOS EM 3 TIPOS:

    > H1
    > H2
    > H3

Cada um poderá receber uma de 2 cores disponíveis:
    1 - rosa =  #FF4081;
    2 - azul =  #2E948A;

***********************************************************/
h1, h2, h3{
    font-weight: 700;
    font-size: 60px;
    line-height: 69px;
}
h2{
    font-size: 40px;
    line-height: 50px;
}
h3{
    font-size: 25px;
    line-height: 29px;
}
.rosa{
    color: #FF4081;
}
.azul{
    color: #2E948A;
}

/*ESTILIZAÇÃO ESPECÍFICA PARA CRIAÇÃO DE CARDS*/

/*               INSTRUÇÕES:                  */
/*
    0 - TODO CONTAINER/DIV QUE CONETNHA UM CAR-
ROCEL DE CARDS, DEVE CONTER A CLASSE "card-con-
tainer"; 
    1 - TODO CARD DEVE CONTER A CLASSE ".card"
NA SUA DIV PAI;
    2 - TODO ELEMENTO DO CARD DEVE CONTER A 
CLASSE "elemento-card";
    3 - DEVE-SE CRIAR UMA CLASSE ESPECÍFICA PARA
CADA CLASSE ONDE SE ESPECIFIQUEM AS DIMENSÕES DA 
DIV PAI.
    4 - POR DEFAULT, TODO CARD TERÁ OS ELEMENTOS
JUSTIFICADOS AO CENTRO.

ESTRUTURA PADRÃO PARA NO HTML::after

    <div class="card-container">
        <div class="card">
            <h1 class="elemento-card">TextoTextoTexto</h1>
            <a class="elemento-card" href="link">LinkLinkLink</a>
        </div>
        <div class="card">
            <h1 class="elemento-card">TextoTextoTexto</h1>
            <a class="elemento-card" href="link">LinkLinkLink</a>
        </div>
        .
        .
        .
    </div>
 
VEJA LINHA 33 DO ARQUIVO "index.html"
  
*/
.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;    
}
.card{
    flex-direction: column;  
    text-align: center;   
}    
.elemento-card{
    align-items: center;
    margin: auto;
}
#img-card{
    object-fit: cover;
    width: auto;
    min-width: 200px ;
    height: 18.8vw;
    min-height: 270px;
}

/*********************************************************

    A PARTIR DAQUI, COMEÇAM AS ESTILIZAÇÕES ESPECÍFICAS
                À CADA PÁGINA DO PROJETO.

**********************************************************/


/*INÍCIO ESTILIZAÇÃO ESPECÍFICA PARA PÁGINA "INICIO"*/

/*Primeira div "Educação Financeira é tudo de bom"*/

.div-1-inicio{/*setamos as dimenções da div que contei o card "Educação Financeira é tudo de bom"*/
    width: 100vw;
    margin: 9.4vw 0 4.6vw 0;
}
.subdiv-1-inicio{/*sobrescrevemos as propriedades de alinhamento para que
                 tudo se alinhe à esqued nesse card, como no Figma      */
      margin: 0;
      text-align: left;
}
#index-ilustra-banner{/*Configuramos as dimensões da imagem da primeira div*/
    display: flex;
    justify-content: space-evenly;
    width: 34.8vw;
    height: 35.49vw;
    min-width: 334px;
    min-height: 340.7px;
}
.subdiv-1-inicio h1{/*dimensionamos a área da caixa de testo contendo o título*/
    width: 32vw;
    height: auto;
}
.subdiv-1-inicio p{/*Especificamos as dimensões para o parágrafo que segue o 
                   título, assim como as características da fonte          */
    width: 25vw;
    height: 4.3vw;
    margin: 19px 0 38px 0;
    font-weight: 400;
    font-size: 27px;
    line-height: 31px;
    color: #555555;
}
.subdiv-1-inicio a{
    margin: 0;/*Esta linha garante que o botão esteja alinhado à esqueda*/
}


/*        Segunda div: Carrocel de Cursos      */


.div-2-inicio{/*Estilizamos todo o carrocel*/
    background-color: #F7F7F7;
    padding: 7.6vw  0;
}

.subdiv-2-inicio{/*Estilizamos as dimensões dos cards*/
    width: 25vw;
    min-width: 304px;
    height: 34.9vw;
    min-height: 502px;
}
.subdiv-2-inicio h3{/*Garantimos espaçamento adequado neste título*/
    margin-top: 45px;
}
.subdiv-2-inicio p{/*Assim como no parágrafo de suporte*/
    margin: 25px 0; 
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    color: black;
}


/*           Terceira div: Depoimentos          */

.div-3-inicio{/**/
    
}
.subdiv-3-inicio{/*Estilizamos as dimensões dos cards*/
    display: inline-flex;
    justify-content: space-around;
    text-align: start;
    flex-direction: row;
    width: 35vw;
    height: 10vw;
}
.depoimento, .nome-depoente{
    text-align: left;
    
}
.depoimento{
    width: 25.2vw;
    height: 4.88vw;
    font-weight: 300;
    font-size: 15px;
    line-height: 17px;
    color: #000000;
}
.nome-depoente{
    width: 25.2vw;
    height: auto;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}
#img-depoente{
   height: 9vw;
   width: 9vw;
}





/*FIM ESTILIZAÇÃO ESPECÍFICA PARA PÁGINA "INICIO"*/

/*INÍCIO ESTILIZAÇÃO ESPECÍFICA PARA PÁGINA "CURSOS"*/
/*FIM ESTILIZAÇÃO ESPECÍFICA PARA PÁGINA "CURSOS"*/
 main {
    display: flex;
   flex-direction: column;
   justify-content: space-evenly;  
 }

 .al1 img {
    
 }

.al1{
    background-color: greenyellow;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 1000px;
    margin-left: 30%;
    padding: 100px;
}

.al1 p {
    
}

.al2{
    background-color: greenyellow;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 1000px;
    margin-left: 30%;
}

.al3{
    background-color: red;
    display: flex;
    justify-content: center;
}



/*FIM ESTILIZAÇÃO ESPECÍFICA PARA PÁGINA "CURSO"*/

/*INÍCIO ESTILIZAÇÃO ESPECÍFICA PARA PÁGINA "CONTATO"*/
/*FIM ESTILIZAÇÃO ESPECÍFICA PARA PÁGINA "CONTATO"*/

/*INÍCIO ESTILIZAÇÃO ESPECÍFICA PARA PÁGINA "BLOG"*/
/*FIM ESTILIZAÇÃO ESPECÍFICA PARA PÁGINA "BLOG"*/

/*INÍCIO ESTILIZAÇÃO ESPECÍFICA PARA PÁGINA "POST"*/
/*FIM ESTILIZAÇÃO ESPECÍFICA PARA PÁGINA "POST"*/

