/*STYLING GERAL*/

* {
    margin: 0;
    border: 0;
}

body {
    display: flex;
    overflow: auto;
    flex-wrap: wrap;
    font-family: 'Ubuntu';
    font-style: normal;
    overflow-x: hidden;
}

/*STYLING PARA O CABEÇALHO E O RODAPÉ DE TODAS AS PÁGINAS*/

header,
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6.39vw;
    background-color: rgba(46, 148, 138, 1);
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
    height: 117px;
    width: 100vw;
}

/*Como tods as outras características foram estilizada acima, basta estilizar a altura do footer*/
footer {
    box-shadow: none;
    overflow: auto;
    flex-wrap: wrap;
    height: 207px;
    padding: 0 9.17vw;
}

/*Estilização das imagens do cabeçalho e rodapá*/
#img-header {
    width: 17vw;
    /*    A largura do elemento será 17% (pelo figma: 244px/1440px), 
                 relativo ao View Window Width (largura da área de visualização) */
    height: 5.5vw;
}

#img-footer {
    width: 21.86vw;
    height: 7.1vw;
}

/*Estilização dos links do cabeçalho e rodapé*/
.header-link,
.footer-link {
    display: flex;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: #FDFDFD;
    margin: 0 2.78vw;
}

.nav-header {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: line;
    justify-content: space-between;
}

.footer-link {
    text-transform: lowercase;
    font-weight: 400;
}

li {
    list-style-type: none;
}

/*ESTILIZAÇÃO DOS BOTÕES INTERATIVOS*/

/***********************************

    A ESTRATÉGIA E SEPARAR TUDO PAR 
FACILITAR MUDANÇAS FUTURAS.

************************************/

.botao {
    /*ESTILIZA APENAS O BÁSICO DO BOTÃO*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 6.5px;
    height: 51px;
    width: 289px;
    border-radius: 62px;
}

.preenchimento-transparente {
    background-color: transparent;
}

.preenchimento-azul {
    background-color: #2E948A;
}

.preenchimento-rosa {
    background-color: #FF4081;
}

.contorno-branco {
    /*DÁ A ELE UM CONTORNO BRANCO*/
    border: 2px solid #FFFFFF;
}

.contorno-azul {
    border: 2px solid #2E948A;
}

.contorno-rosa {
    border: 2px solid #FF4081;
}

.texto-branco {
    /*ESTILIZA A FONTE*/
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}

.texto-rosa {
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    color: #FF4081;
}

/*ESTILIZAÇÃO DOS TEXTOS*/

/**********************************************************

DIVIDI TODOS OS TITULOS EM 3 TIPOS:

    > H1
    > H2
    > H3

Cada um poderá receber uma de 2 cores disponíveis:
    1 - rosa =  #FF4081;
    2 - azul =  #2E948A;

***********************************************************/
h1,
h2,
h3 {
    font-weight: 700;
    font-size: 60px;
    line-height: 69px;
}

h2 {
    font-size: 40px;
    line-height: 50px;
}

h3 {
    font-size: 25px;
    line-height: 29px;
}

.rosa {
    color: #FF4081;
}

.azul {
    color: #2E948A;
}

/*ESTILIZAÇÃO ESPECÍFICA PARA CRIAÇÃO DE CARDS*/

/*               INSTRUÇÕES:                  */
/*
    0 - TODO CONTAINER/DIV QUE CONETNHA UM CAR-
ROCEL DE CARDS, DEVE CONTER A CLASSE "card-con-
tainer"; 
    1 - TODO CARD DEVE CONTER A CLASSE ".card"
NA SUA DIV PAI;
    2 - TODO ELEMENTO DO CARD DEVE CONTER A 
CLASSE "elemento-card";
    3 - DEVE-SE CRIAR UMA CLASSE ESPECÍFICA PARA
CADA CLASSE ONDE SE ESPECIFIQUEM AS DIMENSÕES DA 
DIV PAI.
    4 - POR DEFAULT, TODO CARD TERÁ OS ELEMENTOS
JUSTIFICADOS AO CENTRO.

ESTRUTURA PADRÃO PARA NO HTML::after

    <div class="card-container">
        <div class="card">
            <h1 class="elemento-card">TextoTextoTexto</h1>
            <a class="elemento-card" href="link">LinkLinkLink</a>
        </div>
        <div class="card">
            <h1 class="elemento-card">TextoTextoTexto</h1>
            <a class="elemento-card" href="link">LinkLinkLink</a>
        </div>
        .
        .
        .
    </div>
 
VEJA LINHA 40 DO ARQUIVO "index.html"
  
*/
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    flex-direction: column;
    text-align: center;
}

.elemento-card {
    align-items: center;
    margin: auto;
}

#img-card {
    object-fit: cover;
    width: auto;
    min-width: 200px;
    height: 18.8vw;
    min-height: 270px;
}

/*********************************************************

    A PARTIR DAQUI, COMEÇAM AS ESTILIZAÇÕES ESPECÍFICAS
                À CADA PÁGINA DO PROJETO.

**********************************************************/


/*INÍCIO ESTILIZAÇÃO ESPECÍFICA PARA PÁGINA "INICIO"*/

/*Primeira div "Educação Financeira é tudo de bom"*/


.div-1-inicio {    
    .div-1-inicio{/*setamos as dimensões da div que contei o card "Educação Financeira é tudo de bom"*/
    width: 100vw;
    margin: 9.4vw 0 4.6vw 0;
}

.subdiv-1-inicio {
    /*sobrescrevemos as propriedades de alinhamento para que
                 tudo se alinhe à esqued nesse card, como no Figma      */
    margin: 0;
    text-align: left;
}

#index-ilustra-banner {
    /*Configuramos as dimensões da imagem da primeira div*/
    display: flex;
    justify-content: space-evenly;
    width: 34.8vw;
    height: 35.49vw;
    min-width: 334px;
    min-height: 340.7px;
}

.subdiv-1-inicio h1 {
    /*dimensionamos a área da caixa de testo contendo o título*/
    width: 32vw;
    height: auto;
}

.subdiv-1-inicio p {
    /*Especificamos as dimensões para o parágrafo que segue o 
                   título, assim como as características da fonte          */
    width: 25vw;
    height: 4.3vw;
    margin: 19px 0 38px 0;
    font-weight: 400;
    font-size: 27px;
    line-height: 31px;
    color: #555555;
}

.subdiv-1-inicio a {
    margin: 0;
    /*Esta linha garante que o botão esteja alinhado à esqueda*/
}


/*        Segunda div: Carrocel de Cursos      */


.div-2-inicio {
    /*Estilizamos todo o carrocel*/
    background-color: #F7F7F7;
    padding: 7.6vw 0;
}

.subdiv-2-inicio {
    /*Estilizamos as dimensões dos cards*/
    width: 25vw;
    min-width: 304px;
    height: 34.9vw;
    min-height: 502px;
}

.subdiv-2-inicio h3 {
    /*Garantimos espaçamento adequado neste título*/
    margin-top: 45px;
}

.subdiv-2-inicio p {
    /*Assim como no parágrafo de suporte*/
    margin: 25px 0;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    color: black;
}


/*           Terceira div: Depoimentos          */


.titulo-3e4-inicio{
    padding: 8.3vw 49% 5.4vw 8.9vw;  
}

.subdiv-3-inicio {
    /*Estilizamos as dimensões dos cards*/
    display: inline-flex;
    justify-content: space-around;
    text-align: start;
    flex-direction: row;
    width: 36vw;
    height: 10vw;
}

.depoimento,
.nome-depoente {
    text-align: left;
  width: 22.5vw;
    height: 4.88vw;
    font-weight: 300;
    font-size: 15px;
    line-height: 17px;
    color: #000000;
}

.nome-depoente{
    width: 22.5vw;
    height: 2vw;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}

#img-depoente {
    height: 9vw;
    width: 9vw;
}


/*       Quarta div: "Mais Conteúdo Para Você"      */

.div-4-inicio{
    align-items: center;
    background-color: #F7F7F7;
    padding-bottom: 3.7vw;    
}
.subdiv-4-inicio{
    width: 22.2vw;
    margin: 0 5%;
}
.titulo-post-inicio{
    padding-top: 1%;
    text-align: start;
}
.subtitulo-post-inicio{
    text-align: start;
    width: 22.2vw;
    padding-bottom: 7vw;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #000000;   
}
#img-mockup{
    width: 100%;
}
.botao-ver-posts{
    justify-content: space-around;
}

/*FIM ESTILIZAÇÃO ESPECÍFICA PARA PÁGINA "INICIO"*/

/*INÍCIO ESTILIZAÇÃO ESPECÍFICA PARA PÁGINA "CURSOS"*/

.conteudo-pagina2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 100px;
    margin-top: 100px;
    margin-bottom: 160px;
    margin-left: 80px;
    margin-right: 80px;
}

.titulo-pagina2 {
    display: flex;
    flex-direction: column;
    align-items: start;
  
}
.paragrafopagina2{
    font-size: 20px;
    color: #555555;
    }
.cards-pagina2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 140px;
  
}
.card-pagina2 {
    display: flex;
    

}
.elementos-card-pagina2 {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    margin-left:3%;
}

.paragrafocardpagina2{
    font-size: 18px;
    text-align: left;
}
.botao-pagina2 {
    align-items: center;
}

.linhahorizontal {
    border: 5px solid #c4c4c4;
    width: 100%;
}
/*FIM ESTILIZAÇÃO ESPECÍFICA PARA PÁGINA "CURSOS"*/

.pag-cursos {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 50px;
    margin-top: 100px;
    margin-bottom: 160px;
    margin-left: 80px;
    margin-right: 80px;
}

.card-intro {
    text-align: left;
    display: flex;
    width: auto;
    height: 381px;
    left: 202px;
    top: 197px;
    flex-direction: column;
    gap: 30px;

}

.intro {
    display: flex;
    text-align: center;
    height: 400px;
    justify-content: center;
    padding: 3%;
}

.intro h1 {

    width: 512px;
    height: 126px;
    left: 202px;
    top: 210px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 63px;

    color: #FF4081;
}

.intro p {

    width: 461px;
    height: 186px;
    left: 202px;
    top: 358px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;

}

.intro img {

    left: 52.15%;
    right: 21.46%;
    top: 9.38%;
    bottom: 72.49%;
}



/*EM CIMA É A INTRODUÇÃO DOS CURSOS*/

.cursotitulo, .cursodesc {
    padding: 3%;
}

.cardaulas {
    width:100%;
    padding: 0 30%;
}


.aulas{
    width:100%;
}

#img-aula{
    width: 462px;
    height: 261px;
}   

.fundo {
    height: 1200px;
    width:100vw;
    background: #F7F7F7;
    padding: 3% 0;
}

.fundo {
    width: 100vw;
    height: 1200px;
    background: #F7F7F7;
}


.linha {

width: 90%;
height: 3px;
left: 98px;
top: 1480px;

background: #C4C4C4;
}

.linha1 {
    width: 90%;
height: 3px;
left: 98px;
top: 1480px;

background: #C4C4C4;
}


/*FIM ESTILIZAÇÃO ESPECÍFICA PARA PÁGINA "CURSO"*/

/*INÍCIO ESTILIZAÇÃO ESPECÍFICA PARA PÁGINA "CONTATO"*/
.div-contato{
    width: 100vw;
    justify-content: space-evenly;
    align-items: flex-end;
    padding: 10% 0;
}
.subdiv-contato{
    width: 34vw;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    text-align: left;
}
.titulo-contato{
    margin-bottom: 6%;
}
.subdiv-contato textarea{
    text-align: left;
    border: 1px solid #686868;
    width: 100%;
    margin: 1% 0;
    padding-left:  5%;
    border-radius: 7px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #58555D;
}
.subdiv-contato input{
    width: 120px;
    margin: 0;
}
#img-contato{
    display: flex;
    justify-content: space-evenly;
    width: auto;
    height: 71%;
    min-width: 100px;
    min-height: 100px;
}

/*FIM ESTILIZAÇÃO ESPECÍFICA PARA PÁGINA "CONTATO"*/

/*INÍCIO ESTILIZAÇÃO ESPECÍFICA PARA PÁGINA "BLOG"*/
#cabc{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    padding-bottom: 89px;
}
#cabc section{
    width: 461px;
    height: 110px;
    text-align: start;
    
    
}
#cabc h2{
    padding-bottom: 40px;
}
.cont{
    background-color: #F7F7F7;
}
#img-blog{
    width: 36vw;
    height: 17vw;
}
.blog-card{
    width: 36vw;
}
.pad-top{
    padding-top: 100px;
}
.txt-rs{
    text-align: start;
}
.txt-cont{
    text-align: start;
    padding-bottom: 100px;
}
.pad-bt{
    padding-bottom: 170px;
}
/*FIM ESTILIZAÇÃO ESPECÍFICA PARA PÁGINA "BLOG"*/

/*INÍCIO ESTILIZAÇÃO ESPECÍFICA PARA PÁGINA "POST"*/

.container-post{ /* Padronização de largura e altura do elemento container */
    padding: 7.7vw 14.1vw 7.7vw 14.1vw; 
}

#img-p5{ /* Dimencionamento da imagem principal da pagina */
    width: 72vw;
    height: auto;
    margin: 70px 0px 70px 0;
}

.data-post{ /* Estilização da fonte abaixo do titulo */
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #9D9D9D;
    margin-top: 12px;
}

.texto-post{ /* Padronização para o paragrafo se iniciar a esqueda */
    text-align: start;
}

.subtitulo-post{ /* Padronização para os subtitulos se iniciarem a esqueda */
    text-align: start;
}

.subtitulo1-post{ /* Alinhamento titulo das imagens do card final */
width: 100vw;
padding-bottom: 101px;
}

/*FIM ESTILIZAÇÃO ESPECÍFICA PARA PÁGINA "POST"*/

